<a href="https://colab.research.google.com/github/Prasanth-ts/Pythonstarting/blob/main/chisquare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import scipy 
from scipy import stats

In [3]:
order=pd.read_csv("/content/Costomer+OrderForm(1).csv")
order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [9]:
count1=order['Phillippines'].value_counts()
print(count1)
count2=order['Indonesia'].value_counts()
print(count2)
count3=order['Malta'].value_counts()
print(count3)
count4=order['India'].value_counts()
print(count4)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [11]:
data=pd.DataFrame()
data['Phillippines']=count1
data['Indonesia']=count2
data['Malta']=count3
data['India']=count4
print(data)

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [19]:
static=stats.chi2_contingency(data)
static[1]
print('Pvalue: ', (static[1]))

Pvalue:  0.2771020991233135