<a href="https://colab.research.google.com/github/Prasanth-ts/Pythonstarting/blob/main/ChiSquare%20test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [4]:
buy=pd.read_csv('/content/BuyerRatio.csv')
buy

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
array=np.array([[50,142,131,70],[435,1523,1356,750]])
array

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [26]:
stats.chi2_contingency(array)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [20]:
if p>0.5:
    print ("p > 0.05 We fail to reject null hypothisis Hence male-female buyer ratios are similar across regions",p)
else:
    print('accept')

p > 0.05 We fail to reject null hypothisis Hence male-female buyer ratios are similar across regions 0.6603094907091882