<a href="https://colab.research.google.com/github/Prasanth-ts/Pythonstarting/blob/main/hypothesis%20testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [28]:
cutlets=pd.read_csv("/content/Cutlets(1).csv")

In [29]:
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [35]:
statc= stats.ttest_ind(cutlets['Unit A'],cutlets['Unit B'])
print('pvalue: ',statc)

pvalue:  Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [41]:
if statc[1] < 0.05:
  print("pvalue: ",statc[1],"reject the null hypothesis go with the alternative " )
else:
  print("pvalue: ",statc[1],'accept the null hypthesis ')

pvalue:  0.4722394724599501 accept the null hypthesis